
.grid {
  > .min {
    width: 65%;
  }
}

.tools {
  position: fixed;

  background: white;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  /*  transform: translateX(-35%);*/
  /*  outline: 1px solid red;*/
  align-items: center;
  justify-content: center;

}

.wrap {
  display: flex;
  width: 100%;

  flex-flow: row nowrap;

}

.cell {
  display: flex;
  height: 3rem;
  align-items: center;
  flex: 0;
  margin-left: 20px;
  margin-right: 20px;


}


.row {
  &.active {
    background-color: #FFFFFF;
  }
  &:hover {
      cursor: pointer;
      outline: 1px rgba(0, 0, 0, 0.6) dashed;
  }

}

.row > div {
  border: solid 1px #C9C9C9;
  font-size: 12px;
  text-align: center;

  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.type {
  width: 40px;
  display: flex;
  flex-grow: 0


}

.time {
  display: flex;
  width: 150px;
  flex-grow: 0
}


.data {
  display: flex;
  flex-grow: 1
}

.length {
  width: 100px;
  display: flex;
  flex-grow: 0
}


.min {
  width: 100%;
}
